@charset "UTF-8";
body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, td, input, select, option, textarea {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  font-size: 26.67vw;
}
body {
  font-family: "微软雅黑",Arial;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: #f5f5f5;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul, ol {
  list-style: none;
}
img {
  border: none;
  display: block;
}
i, span {
  display: inline-block;
}
.header {
  background: white;
  box-shadow: 0 .04rem 0.05rem #e0e0e0;
}
.header .line1 {
  display: flex;
  justify-content: space-between;
  padding: 0.15rem 0.17rem 0px 0.17rem;
  align-items: center;
}
.header .line1 i {
  color: white;
  width: .22rem;
  height: .18rem;
}
.header .line1 span {
  font-size: .20rem;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .07rem;
}
.header .line2 {
  padding: 0 0.12rem .1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.07rem;
  position: relative;
}
.header .line2 .icon-sousuo {
  position: absolute;
  left: .2rem;
  top: .05rem;
  font-size: 0.15rem;
  color: #141414;
  font-weight: bolder;
  vertical-align: middle;
}
.header .line2 input {
  width: 100%;
  height: 0.28rem;
  background: #e2e5e7;
  border: none;
  outline: none;
  border-radius: 0.28rem;
  text-indent: 0.3rem;
  color: #97999b;
  fone-size: 0.11rem;
  font-weight: bold;
}
.header a {
  color: #9c9c9c;
  white-space: nowrap;
}
.header a i {
  color: #9c9c9c !important;
}

section {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
section .section {
  display: flex;
  justify-content: space-between;
}
section .section .section-left {
  width: 0.75rem;
  background: #efefef;
  position: fixed;
  height: 100%;
  z-index: -99;
}
section .section .section-left a {
  display: block;
  padding: .16rem 0;
  color: black;
  font-size: .13rem;
  text-align: center;
}
section .section .section-right {
  flex: 1;overflow-y: auto;

  margin-left: 0.75rem;
}
section .section .section-right .section-right-side1 a {
  padding: .11rem .11rem 0;
  height: 0.9rem;
  background: white;
}
section .section .section-right .section-right-side1 a img {
  width: 100%;
  height: 100%;
}
section .section .section-right .section-right-side1 .category-side1 {
  margin-bottom: 0.03rem;
  padding: 0;
  background: white;
}
section .section .section-right .section-right-side1 .category-side1-title {
  display: flex;
  justify-content: space-between;
  padding: .15rem .08rem;
}
section .section .section-right .section-right-side1 .category-side1-title h4 {
  font-size: .14rem;
  line-height: .14rem;
  font-weight: 100;
}
section .section .section-right .section-right-side1 .category-side1-conn ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section .section .section-right .section-right-side1 .category-side1-conn ul li {
  text-align: center;
  margin-bottom: .14rem;
}
section .section .section-right .section-right-side1 .category-side1-conn ul li a {
  width: .75rem;
  height: .75rem;
}
section .section .section-right .section-right-side1 .category-side1-conn ul li a img {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 0.09rem .24rem .1rem;
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0 -0.04rem .06rem 0 #f4f4f4;
  align-items: center;
}
.footer a {
  color: #858585;
  text-align: center;
}
.footer a i {
  font-size: .23rem;
  line-height: .23rem;
}
.footer a p {
  font-size: .1rem;
  line-height: .1rem;
  padding-top: .06rem;
  text-align: center;
}

/*# sourceMappingURL=category.css.map */
