@charset "UTF-8";
body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, td, input, select, option, textarea {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    font-size: 26.67vw;
}

body {
    font-family: "微软雅黑",Arial;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    background: #f5f5f5;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul, ol {
    list-style: none;
}

img {
    border: none;
    display: block;
}

i, span {
    display: inline-block;
}
/*appdownload开始*/
.appdownload {
    padding-top:.01rem;
 position: relative;
}
.appdownload img{
   width:100%;
    height:.5rem
}
.appdownload .close{
    width:.35rem;
    height:.5rem;
    position:absolute;
    top:0;
}
.appdownload .goapp{
    width:1.2rem;
    height:.5rem;
    position:absolute;
    top:0;
    right:0;
}
/*goodsDetailsPages-top开始*/
.goodsDetailsPages-top{
    background: white;
    padding:0 .12rem;
    height:.7rem!important;
    margin-top:.1rem;
}
.goodsDetailsPages-top em{
     float: left;
 }
.goodsDetailsPages-top em img{
  width:.25rem;
    height:.19rem;
    padding-top:.1rem;
}
.goodsDetailsPages-top ul{
    float:left;
    margin-left:.85rem;
}
.goodsDetailsPages-top-tab-right{
    float: right;
    padding-top:.1rem;
    font-wight:700;
}
.goodsDetailsPages-top-tab {
    color:black;
    font-size:.16rem;
    line-height: .19rem;
  display: flex;
}
.goodsDetailsPages-top-tab li{
   justify-content: flex-start;
    padding:.12rem 0rem .12rem 0;
    margin-right:.25rem;

}
.goodsDetailsPages-top-tab .cur{
    border-bottom: 3px solid black;
}
.goodsDetailsPages-top-tab-right i{
    color:#666666
}
/*containers开始*/
/*.containers-top{*/
    /*background: white;*/
/*}*/

.containers-center-proinfo{
    background: white;
}
.containers-center-proinfo{
    background: white;
}
.containers .containers-top-slide{
    background: white;
}
.containers .containers-top-slide img{
    width:3.2rem;
    height:3.2rem;
    margin:0 auto;
}
.containers-center-proinfo{
    padding:.13rem .13rem .17rem .13rem;
    font-size: .13rem;
    line-height: .13rem;
}
.containers-center-proinfo p{
    padding-bottom:.15rem;
}
.containers-center-proinfo .line-price{
    display: flex;
    justify-content: space-between;
}
.containers-center-proinfo .line-price .tag{
    color:white;
    font-size:.1rem;
    line-height:.12rem;
    background: #040404;
    padding:0.01rem .05rem;
}
.containers-bot p{
    padding:.13rem .16rem .13rem .19rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .14rem;
    line-height: .14rem;
    margin-top:.1rem;
    background: white;
}
.containers-bot p span i img{
    width:.09rem;
    height:.14rem;
    margin-right:.12rem;
}
.containers-bot p .more img{
    width:.06rem;
    height:.1rem;
}
.containers-bot .brands{
    padding:.2rem .13rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.containers-bot .brands a{
    display: flex;
    align-items: center;
    color:black;
    font-size: .13rem;
    line-height: .13rem;
}
.containers-bot .brands a img{
    width:.84rem;
    height:.39rem;
    border:2px solid white;
   margin-right:.09rem;
}
.containers-bot .brands span img{
    width:.06rem;
    height:.1rem;
}
/*pro-comment开始*/
/*.pro-comment{*/
    /*background: white;*/
/*}*/
.pro-comment-top-title{
     background: white;
     padding:.14rem;
    font-size:.14rem;
    padding-bottom:.06rem;
 }
.pro-comment-top-title p{
   display: flex;
    justify-content: space-between;
    align-items: center;
}
.pro-comment-top-title p .stars .star-img img{
    width:.7rem;
    height:.13rem;
}
.pro-comment-top-title i{
   color:#676767;
    font-size:.12rem;
    margin-left:.12rem;
}
.pro-comment-top-title .more img{
    width:.06rem;
    height:.1rem;
}
/*pro-comment-top-center开始*/
.pro-comment-top-center ul {
    padding:0rem .15rem 0rem .12rem;
    background: white;
}
.pro-comment-top-center ul li {
    padding-top:.12rem;
    border-bottom: 1px solid #e0e0e0;

}
.pro-comment-top-center ul li .line1{
    font-size:.12rem;
    line-height: .12rem;
    display: flex;
    align-items: center;
}
.pro-comment-top-center ul li .line1 .userpic{
  width:.25rem;
    height:.25rem;
    margin-right:.15rem;
}
.pro-comment-top-center ul li i{
    width:.17rem;
    height:.12rem;
    margin-left:.06rem;
}
.pro-comment-top-center ul li .line2{
    margin:.11rem 0 .15rem 0;
}
.pro-comment-top-center ul li .line3{
    padding-bottom: .15rem;
    color:#9c9c9c;
}
.comment-list{
    background: white;
}
.pro-comment-top-center .comment-list span{
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:.14rem;
    line-height:.14rem;
    padding:.18rem;
    text-align: center;
}
.pro-comment-top-center .askpro{
    display: flex;
    justify-content: space-between;
    font-size: .13rem;
    color:black;
    padding:.16rem .18rem .16rem  .15rem;
    background: white;
    margin-top:.1rem;
}
.pro-comment-top-center .more img{
    width:.06rem;
    height:.1rem;
}
/*detailed-description开始*/
.detailed-description-title{
    padding:.23rem 0 .16rem 0;
    display: flex;
    justify-content: center;
    color:#999999;
    font-size: .13rem;
}
.detailed-description-title .cur{
    color:red;
}
.shuline{
    margin:0 .65rem;
}
/*detailed-description-side开始*/
/*detailed-description-con开始*
 */
.detailed-description-con .desc-img img{
    width:100%;
    height:3.08rem;
}
/*//detailed-description-bot开始*/

.payment-and-distribution,.price-strong,.goods-return{
    background: white;
    padding:0 .15rem;
}
.payment-and-distribution p:first-of-type{
    height:.45rem;
    font-size:.15rem;
    color:black;
    line-height: .45rem;
}
.price-strong p:first-of-type{
    height:.45rem;
    font-size:.15rem;
    color:black;
    line-height: .45rem;
}
.goods-return p:first-of-type{
    height:.45rem;
    font-size:.15rem;
    color:black;
    line-height: .45rem;
}
/*pro-param-side开始*/
.pro-param-side ul{
    padding-left:.13rem;
    background: white;
}
.pro-param-side ul li{
    padding:.1rem 0rem;
    font-size: .13rem;
    line-height: .13rem;
    border-bottom: 1px solid #cccccc;
}
